general_settings:
  # session settings
  data_directory: "/home/nsymington/Documents/GA/dash_data_Surat"
  # directory with the AEM data
  # The line numbers that we are interested in visualising
  lines: [200101,  200401, 200501, 200601, 200701, 200801, 200901, 201001, 201101, 201201, 201301, 201401,
          201501, 201601, 201701, 201801, 201901, 202001, 202101, 202201, 202301, 202401, 202501, 202601,
          202701, 202801, 912011]

model_settings:
  name: "Surat hydrostratigraphy"

  # Path to template csv file
  templateFile: "../data/SuratSurfaces.csv"
  # Path to existing interpretations
  interpFile: "../data/blank_interp_example.csv"

AEM_data_settings:
  name: "Surat_AEM-data"
  # System name
  system_name: "SkyTEM_312"
  # Path to netcdf file for AEM data. If this is the file name without a path the app will search for it
  # in the data directory
  nc_path: "AUS_10024_InJune_EM_MGA55.nc"
  # True if you want to grid the AEM data into vertical sections for visualisation false if already done.
  grid_sections: False
  # Parameters for gridding
  grid_variables: [ 'low_moment_Z-component_EM_data', 'high_moment_Z-component_EM_data', 'roll',
                    'pitch', 'tx_height_measured', 'powerline_noise', 'gps_height' ]
  section_directory: "section_data_EM_grid"



deterministic_inversion_settings:
  # deterministic inversion
  inversion_name: "lci"
  # Path to netcdf file for AEM deterministic inversion.
  nc_path: "Injune_lci_MGA55.nc"
  # True if you want to grid the AEM inversion data into vertical sections for visualisation false if already done.
  grid_sections: False
  # variables to grid
  grid_variables: ['conductivity', 'data_residual', 'depth_of_investigation']
  # horizontal resolution of sections
  horizontal_resolution: 50.
  # Vertical resolution of sections
  verticaL_resolution: 5.
  # section to read or write pickle files
  section_directory: "section_data_lci"
  # A flag for if the user wishes to plot the grid
  plot_grid: True
  # Path to the grid
  layer_grid_path: Injune_layer_grids.p

stochastic_inversion_settings:
  # stochastic inversion
  inversion_name: "garjmcmctdem_utils"
  # Path to netcdf file for AEM stochastic inversion.
  nc_path: "Injune_rjmcmc_pmaps.nc"
  grid_sections: False # True if you want to grid the AEM inversion data into vertical sections
  grid_variables: [ 'conductivity_p10', 'conductivity_p50', 'conductivity_p90', 'interface_depth_histogram',
                    'misfit_lowest' ]
  # horizontal resolution of sections
  horizontal_resolution: 100.
  # Vertical resolution of sections
  verticaL_resolution: 2.
  section_directory: "section_data_rj"
  uncertainty: {estimate: True, # Will estimate depth uncertainty using full width half maximum method if true
                snap_interpretation: True, # will snap the interpretation to the most likely depth within this window if True
                snap_window: 20., # The size of the search window for uncertainty interpretation
                maximum_distance: 200.} # Maximum horizontal distance between pmap and interpretation for uncertainty estimation

visualisation_settings:
  vmin: 0.01 # Starting minimum conductivity for colourstretch
  vmax: 1. # Starting maximum conductivity for colourstretch
  cmap: 'viridis' # AEM conductivity section colourstretch
  section_plot: 'lci' # Which section to start on
  colourbar_label: 'Conductivity (S/m)'

borehole_settings:
  # If you have borehole data to include True otherwise False
  include: False
  borehole_file: "Galilee_strat_proximal_to_AEM.csv"
  # colours for plotting borehole stratigraphy. see https://developer.mozilla.org/en-US/docs/Web/CSS/color_value
  unit_colours: {'Cenozoic': 'darkgoldenrod', 'Bandanna Formation': 'cyan', "Rewan Group": 'forestgreen',
                 'Precipice Sandstone': 'lightskyblue', 'Clematis Group': 'yellowgreen', 'Dunda Beds': 'tomato',
                 'Moolayember Formation': 'lightpink', 'Rolling Downs Group': 'orchid'}

crs:
  projected: 'EPSG:28355'
  geographic: 'EPSG:4283'
