general_settings:
  # session settings
  #data_directory: "C:\\Users\\u77932\\Documents\\workshop\\AEM_Perth\\data\\ASEG_gdf"
  data_directory: "C:\\AEM_interpretation\\dash_data"
  # directory with the AEM data
  # The line numbers that we are interested in visualising
  lines: [1004001]

model_settings:
  name: "AEM interpretation training"
  # Path to template csv file
  templateFile: "..\\data\\trainingSurfaces.csv"
  # Path to existing interpretations
  interpFile: "..\\data\\blank_interp_example.csv"
  # Path to pre-canned answers
  GAInterpFile: "..\\data\\GA_interp.csv"
  # Path to pre-canned answers
  hintsFile: "..\\data\\lineHints.csv"

inversion_settings:
  # deterministic inversion
  inversion_name: "galei"
  # Path to netcdf file for AEM deterministic inversion.
  nc_path: "AEM_workshop_galei.nc"
  # True if you want to grid the AEM inversion data into vertical sections for visualisation false if already done.
  grid_sections: False
  # variables to grid
  geometry_variables: ['fiducial', 'easting', 'northing', 'elevation', 'tx_height', 'txrx_dx', 'txrx_dz']
  inversion_variables: ['conductivity', 'phid', 'inverted_txrx_dx', 'inverted_txrx_dz']
  data_variables: ['x_secondary_field_observed', 'z_secondary_field_observed', 'x_secondary_field_predicted',
                   'z_secondary_field_predicted']
  # horizontal resolution of sections
  horizontal_resolution: 50.
  # Vertical resolution of sections
  vertical_resolution: 6.
  # section to read or write pickle files
  section_directory: "section_data"
  # A flag for if the user wishes to plot the grid
  plot_grid: False

visualisation_settings:
  vmin: 0.001 # Starting minimum conductivity for colourstretch
  vmax: 1. # Starting maximum conductivity for colourstretch
  cmap: 'viridis' # AEM conductivity section colourstretch
  section_plot: 'lci' # Which section to start on
  colourbar_label: 'Conductivity (S/m)'

borehole_settings:
  # If you have borehole data to include True otherwise False
  include: True
  borehole_file: "..\\data\\trainingBoreholeData.csv"

crs:
  projected: 'EPSG:28352'
  geographic: 'EPSG:4283'
